/target/
/.idea/
.classpath
.project
.settings/
.DS_Store
.env
.env.example
.env.local
.env.testing
.env.local.testing
.env.staging
.env.local.staging
.env.production
.env.local.production
.env.dev
.env.local.dev
.env.development
.env.local.development
.env.ci
.env.local.ci
.env.preview
.env.local.preview
.env.preview.local
.env.preview.local.testing